$primary: #004aad;
$secondary: #ffffff;
$light-background: #f1f8ff;
$hover-colours: #00ffd4;
$gradientBackground: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(0, 74, 173, 1) 54%,
  rgba(3, 176, 212, 1) 100%
);

// font-family: 'Edu TAS Beginner', cursive;
// font-family: 'Mukta', sans-serif;

// iK? begin from 320px & up for starting breakpoint
.AllProjectModals {
  padding: 0 !important;

  .modalHeader {
    border-bottom: none;

    // top right close button
    button {
      align-self: flex-start;
      z-index: 1;
    }

    h2 {
      background: $gradientBackground, $primary;
      background-clip: text;
      color: transparent;
      display: inline-block;
      font-weight: 600;
    }
  }

  .modalBody {
    margin-top: -1rem;

    h4 {
      color: $primary;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0rem;
    }

    ul {
      margin-bottom: 1rem;

      li {
        text-align: center;
        font-size: 0.9rem;
      }
    }
  }

  .modalFooter {
    margin-top: -2.5rem;
    border: none;

    .bottomCloseButton {
      background: $gradientBackground, $primary;
      border-radius: 8% / 50%;
      z-index: 1;

      &:hover {
        color: $hover-colours;
      }
    }
  }

  // * breakpint of > 360px
  // @media screen and (min-width: 360px) {
  // } // breakpoint of > 360px

  // * breakpint of > 400px
  // @media screen and (min-width: 400px) {
  // } // breakpoint of > 400px

  // * breakpint of > 500px
  // @media screen and (min-width: 500px) {
  // } // breakpoint of > 500px

  // * breakpint of > 576px
  // @media screen and (min-width: 576px) {
  // } // breakpoint of > 576px

  // * breakpint of > 768px
  // @media screen and (min-width: 768px) {
  // } // breakpoint of > 768px

  // * breakpint of > 992px
  @media screen and (min-width: 992px) {
    .modalBody {
      margin-top: -2rem;

      ul {
        li {
          font-size: 1rem;
        }
      }
    }

    .modalFooter {
      margin-top: -3rem;
    }
  } // breakpoint of > 992px

  // * breakpint of > 1200px
  // @media screen and (min-width: 1200px) {
  // } // breakpoint of > 1200px

  // * breakpint of > 1400px
  // @media screen and (min-width: 1400px) {
  // } // breakpoint of > 1400px
}
