$primary: #004aad;
$secondary: #ffffff;
$light-background: #f1f8ff;
$hover-colours: #00ffd4;
$gradientBackground: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(0, 74, 173, 1) 54%,
  rgba(3, 176, 212, 1) 100%
);

// font-family: 'Edu TAS Beginner', cursive;
// font-family: 'Mukta', sans-serif;

.ContactForm_component {
  // iK? begin from 320px & up for starting breakpoint
  width: inherit;
  font-size: 0.9rem;

  .formGroup {
    margin-bottom: 0.5rem;
  }

  label {
    font-weight: 600;
  }

  span {
    color: red;
  }

  .formControl {
    width: 100%;
    // margin-bottom: 0.5rem;

    &:focus {
      outline-color: $primary;
    }
  }

  .name_errorMessage,
  .email_errorMessage,
  .message_errorMessage {
    color: red;
  }

  .message_errorMessage {
    margin-top: -0.5rem;
  }

  .messageTextarea_container {
    margin-bottom: 1rem;
  }

  .submitButtonContainer {
    display: flex;
    justify-content: flex-end;
  }

  button {
    background: $gradientBackground, $primary;
    border-radius: 8% / 50%;

    &:hover {
      color: $hover-colours;
    }
  }

  // * breakpint of > 360px
  // @media screen and (min-width: 360px) {
  // } // breakpoint of > 360px

  // * breakpint of > 400px
  // @media screen and (min-width: 400px) {
  // } // breakpoint of > 400px

  // * breakpint of > 500px
  // @media screen and (min-width: 500px) {
  // } // breakpoint of > 500px

  // * breakpint of > 576px
  @media screen and (min-width: 576px) {
    padding: inherit;

    .submitButtonContainer {
      margin-top: 1rem;
    }
  } // breakpoint of > 576px

  // * breakpint of > 768px
  @media screen and (min-width: 768px) {
    // padding: 3rem;

    .svgContainer {
      margin-bottom: -5rem;
    }
  } // breakpoint of > 768px

  // * breakpint of > 992px
  // @media screen and (min-width: 992px) {
  // } // breakpoint of > 992px

  // * breakpint of > 1200px
  // @media screen and (min-width: 1200px) {
  // } // breakpoint of > 1200px

  // * breakpint of > 1400px
  // @media screen and (min-width: 1400px) {
  // } // breakpoint of > 1400px
}
