$primary: #004aad;
// $primary: #004aad;
$secondary: #ffffff;

$light-background: #f1f8ff;

$hover-colours: #00ffd4;

$gradientBackground: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(0, 74, 173, 1) 54%,
  rgba(3, 176, 212, 1) 100%
);

// iK? begin from 320px & up for starting breakpoint

.NavOffcanva_component {
  width: 55% !important;
  padding-left: 1rem;

  // bs offcanvas header
  .bs_offcanvas_header {
    padding-bottom: 0 !important;
  }

  // bs offcanvas title
  .bs_offcanvas_header h4 {
    color: $primary;
    margin-top: 25px;
    font-weight: bold;
  }

  // bs offcanvas close button
  .bs_offcanvas_header button {
    margin-top: -50px;
  }

  .navUlContainer {
    li {
      font-size: 1.1rem;
      color: $primary;
      padding: 0.25rem;

      &:hover,
      &:active {
        color: $hover-colours;
      }
    }
  }

  // * breakpint of > 360px
  @media screen and (min-width: 360px) {
    // bs offcanvas title
    .bs_offcanvas_header h4 {
      font-size: 1.5rem;
    }

    .navUlContainer {
      li {
        font-size: 1.2rem;
      }
    }
  } // breakpoint of > 360px

  // * breakpint of > 400px
  // @media screen and (min-width: 400px) {
  // } // breakpoint of > 400px

  // * breakpint of > 500px
  @media screen and (min-width: 500px) {
    width: 45% !important;
  } // breakpoint of > 500px

  // * breakpint of > 576px
  @media screen and (min-width: 576px) {
    display: none !important;
  } // breakpoint of > 576px

  // * breakpint of > 768px
  // @media screen and (min-width: 768px) {
  // } // breakpoint of > 768px

  // * breakpint of > 992px
  // @media screen and (min-width: 992px) {
  // } // breakpoint of > 992px

  // * breakpint of > 1200px
  // @media screen and (min-width: 1200px) {
  // } // breakpoint of > 1200px

  // * breakpint of > 1400px
  // @media screen and (min-width: 1400px) {
  // } // breakpoint of > 1400px
}
