$primary: #004aad;
$secondary: #ffffff;

$light-background: #f1f8ff;

$hover-colours: #00ffd4;

$gradientBackground: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(0, 74, 173, 1) 54%,
  rgba(3, 176, 212, 1) 100%
);

// iK? begin from 320px & up for starting breakpoint
.SlidingContents_component {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0.2rem;
  display: flex;
  background-color: rgb(221, 220, 255);

  .SlidingContent_container {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: brown;
  }

  .sliderItems {
    width: 100% !important;
    position: absolute;

    height: 100%;
    overflow-y: auto;

    background-color: darkgrey; // ! D
    border: $primary solid 1px;
    padding: 9px 0;

    // * to all slide content component directly so they all have roughly the same look
    & > * {
      width: inherit;
      height: 100%;
      padding: 0.5rem;
      color: $primary;
      background-color: white;
    }
  }

  .landingSlide {
    // transform: translateX(0%); // no need to set this as it is already default
    transition: transform 1s ease;

    background-color: white;
  }

  .aboutSlide {
    transform: translateX(100%);
    transition: transform 1s ease;

    background-color: white;
  }

  .techstackSlide {
    transform: translateX(100%);
    transition: transform 1s ease;

    background-color: white;
  }

  .projectSlide {
    transform: translateX(100%);
    transition: transform 1s ease;

    background-color: wheat;
  }

  .contactSlide {
    transform: translateX(100%);
    transition: transform 1s ease;

    background-color: wheat;
  }

  // * breakpint of > 360px
  // @media screen and (min-width: 360px) {
  // } // breakpoint of > 360px

  // * breakpint of > 400px
  // @media screen and (min-width: 400px) {
  // } // breakpoint of > 400px

  // * breakpint of > 500px
  @media screen and (min-width: 500px) {
    .sliderItems {
      & > * {
        padding: 1rem;
      }
    }
  } // breakpoint of > 500px

  // * breakpint of > 576px
  @media screen and (min-width: 576px) {
    .sliderItems {
      & > * {
        padding: 1.5rem;
      }
    }
  } // breakpoint of > 576px

  // * breakpint of > 768px
  // @media screen and (min-width: 768px) {
  // } // breakpoint of > 768px

  // * breakpint of > 992px
  @media screen and (min-width: 992px) {
    .sliderItems {
      & > * {
        padding: 2.5rem;
      }
    }
  } // breakpoint of > 992px

  // * breakpint of > 1200px
  // @media screen and (min-width: 1200px) {
  // } // breakpoint of > 1200px

  // * breakpint of > 1400px
  // @media screen and (min-width: 1400px) {
  // } // breakpoint of > 1400px
}
